# Sphinx build files:
**/build
**/_build

# Validation reports
Reports

# Byte-compiled / optimized / DLL files
**__pycache__
*.py[cod]
*$py.class

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
*.sqlite3

# jetbrains config files:
.idea/

.vscode
.DS_store
__pycache__

# files moved by Sphinx builder
form_submit/templates/docs/Flocculator/*
form_submit/templates/docs/Entrance_Tank/*
form_submit/templates/docs/Introduction/*
form_submit/templates/docs/Sedimentation/*
form_submit/templates/docs/index.rst
form_submit/templates/docs/new_index.rst

# Only one of Pipfile and requirements.txt can exist for Heroku to work
# to create Pipfile locally, run: pipenv install -r requirements.txt
Pipfile
Pipfile.lock

# Onshape client
.onshape_client_config.yaml
