# sphinx build files:
**/build
**/_build

# Byte-compiled / optimized / DLL files
**__pycache__
*.py[cod]
*$py.class

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
*.sqlite3

# jetbrains config files:
.idea/

.vscode
.DS_store
__pycache__

# files moved by Sphinx builder
aide_doc/form_submit/templates/docs/Entrance_Tank/*
aide_doc/form_submit/templates/docs/Introduction/*
aide_doc/form_submit/templates/docs/index.rst
