aguaclara==0.2.9
aide-validation==0.0.0
alabaster==0.7.12
Babel==2.8.0
black==20.8b1
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
Django==3.1.1
django-heroku==0.3.1
docutils==0.16
flake8==3.8.3
idna==2.10
imagesize==1.2.0
Jinja2==2.11.2
kiwisolver==1.0.1
latexcodec==1.0.5
MarkupSafe==1.1.1
onshape_client==1.6.3
oset==0.1.3
packaging==20.4
pathlib==1.0.1
pdflatex==0.1.3
pybtex==0.21
pybtex-docutils==0.2.1
Pygments==2.7.1
pyparsing==2.4.7
python-dateutil==2.7.3
pytz==2020.1
PyYAML==5.1
requests==2.24.0
scipy==1.5.4
six==1.11.0
snowballstemmer==2.0.0
git+git://github.com/rmk135/sphinxcontrib-disqus.git#egg=sphinxcontrib-disqus
Sphinx==3.4.3
sphinx-intl==2.4.7
sphinx-rtd-theme==0.5.1
sphinxcontrib-bibtex==2.4.1
sphinxcontrib-websupport==1.2.4
urllib3==1.24.2
gunicorn==20.0.4
